:root{
    --text-color: white

}

body{
    background-color: black;
    color: var(--text-color);
}


/* base style */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}


/* header */

.header {
}
.header__content {
}

.header__auth{
    background-color: black;
    padding: 6px 0;
    text-align: right;
}

.auth-link{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Tektur", sans-serif;
}
@media(hover:hover){
    .auth-link:hover{
        text-decoration: underline;
        text-underline-offset: 5px;
    }

}
.header__navigation{
    background-image: url(../img/bgheader-1.jpg);
    padding: 15px 0;
}
.header__navigation .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logotype {
    width: 250px;
    display:block;
}
.logotype__image {
    width:100%;
}
.header__button-wrapper {
    display: flex;
}
.link-other-page {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.5s;
    min-width: 214px;
    text-decoration: none;
}
.link-other-page__image {
    width: 100px;
    height: 100px;
}
.link-other-page__text {
    font-family: "Pixelify Sans", sans-serif;
    text-transform: capitalize;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600; 
}
@media(hover:hover){

    .link-other-page:hover{
        opacity: 0.7;
    }
}

/*============= main*/
.main {
    padding: 20px 0;
}
.hero {
}
.container {
}
.hero__content {
    background: 
		linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3)), 
		url(../img/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}
.hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
.hero__title {
    font-family: "Pixelify Sans", sans-serif;
    text-transform: capitalize;
    display: inline;

}
.hero__description {
    display: inline;
    font-size: 20px;
    font-family: "Tektur", sans-serif;
    font-weight: 500;
    text-shadow: 3px 3px 3px black;
}


/*======== adaptive*/
@media (max-width:768px) {
    .header__navigation .container {
        flex-direction: column;
        gap: 10px;
    }
    .link-other-page{
        flex-direction: column;
    }
    
}
@media (max-width:425px) {
    .logotype__image{
        /* width: 125px; */
    }
    .link-other-page__image{
        width: 70px;
        height: 70px;
    }
    .link-other-page{
        min-width: 106px;
    }
    .header__button-wrapper{
        gap: 10px;
    }
}